.block {
    background: linear-gradient(0deg, rgba(40, 26, 200, 1) 0%, rgba(253, 116, 155, 1) 100%);
    width: 1497px;

}

.top {
    width: 1663px;
    height: 423px;
    background: url(./img/top.png);
    background-repeat: no-repeat;
    background-size: 1686px 423px;
    background-position-y: -42px;
    background-position-x: -88px;

}

.bottom {
    width: 1500px;
    height: 250px;
    background: url(./img/botom_1.png);
    background-repeat: no-repeat;
        background-size: 1586px 250px;
        background-position-y: 51px;
}

.content {
    width: 1158px;
        height: 367px;
        background: rgb(255, 255, 255);
        margin: auto;
        border-radius: 30px;
}

.head_list {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    justify-content: space-between;
}

.head_item {
    
}
